html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
    font-family: 'Roboto', sans-serif;
    color: #444;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.link-title {
    color: #1565C0;
}
.link-title:hover {
    text-decoration: none;
}
.text-center {
  text-align: center;
}
.text-right {
    text-align: right;
}
.text-white {
    color: #fff;
}
.center-block {
    margin: 0 auto;
}
.img-step {
    padding-top: 20px;
    max-width: 350px;
}
.pure-g .text-black {
    color: #555;
}
.fa-icon-components {
    margin-right: 15px;
}
.lead {
    font-size: 1.45em;
}
section {
  background-color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
}
footer {
  color: #555;
}
.splash-container {
    background-color: #1565C0;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 40%;
    min-height: 200px;
    top: 0;
    left: 0;
    position: fixed !important;
}
.section-involved {
    min-height: 250px;
}
.container-splash {
    text-align: center;
    padding-top: 5px;
    color: #fff;
}
.title-splash {
    font-size: 4em;
}
.lead-splash {
    font-size: 1.45em;
    font-weight: 300;
    line-height: 1.5em;
}
.content-wrapper {
    position: absolute;
    top: 40%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: #fff;
}
.dashy-component {
  margin-top: 25px;
  margin-bottom: 25px;
}
.dashy-elements {
    padding: 30px 0;
}
.section-involved, footer {
    background-color: #eee;
}
.box {
    padding: 1em;
}
.box-text {
    height: 110px;
}
.circle-number {
    border: 2px solid #555;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.6em;
    font-size: 2em;
    border-radius: 50%;
}

.section-title {
  font-size: 2.2em;
}
.footer {
  text-align: center;
}
